{
  "parser": "babel-eslint",
  "plugins": ["react", "prettier", "flowtype"],
  "extends": [
    "airbnb",
    "prettier/react", // Turns off all rules that are unnecessary or might conflict with Prettier,
    "plugin:prettier/recommended" // Runs Prettier as an ESLint rule and reports differences as individual ESLint issues
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "document": false
  },
  "rules": {
    "no-console": 0,
    "no-debugger": "off",
    "react/prefer-stateless-function": [0] // disabled to choose whether to use stateless function or class Component
  }
}
